{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Authorization Request" %}{% endblock %}

{% block content %}
    <p>The application {{ consumer.name }} by {{ consumer.author }} wants to access your information on ReviewBoard. Would you like to authorize this application?</p>
    {% if consumer.description %}
        <p>{{ consumer.name }} describes itself as: &quot;{{ consumer.description }}&quot;</p>
    {% endif %}
    <form method="post">
        <input type="hidden" name="client_id" value="{{ consumer.key }}" />
        <input type="hidden" name="state" value="{{ state }}" />
        <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
        <input type="submit" name="authorize" value="Authorize" />
        <input type="submit" name="authorize" value="Do not authorize" />
    </form>
{% endblock %}